.special {
  .table {
    display: table;
    width: 100%;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      color: $color_white;
    }
    .cell-left {
      background: $color_blue;
      box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
      padding: 20px;
      form {
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 0 auto;
        max-width: 456px;
        background: transparent;
        box-shadow: none;
        padding: 32px 0;
        h1 {
          line-height: 44px;
          font-size: 44px;
          font-weight: 900;
          margin-bottom: 24px;
          font-family: Averta;
        }
        h3 {
          line-height: 24px;
          font-size: 24px;
          font-weight: 700;
        }
        .form-control {
          border: 2px solid $color_white;
          background-color: transparent;
          font-size: 18px;
          padding: 24px 15px;
          margin: 44px 0 22px;
          width: 100%;
          height: 52px;
          color: $color_white;
          &:focus,
          &:active {
            border: 2px solid $color_green;
          }
        }
      }
    }
    .cell-right {
      .bases {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item {
          background: #fff;
          box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
          padding: 0;
          height: 100%;
          width: 25%;
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
          margin: 0px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: space-around;
          position: relative;
          .cover {
            transition: all .2s ease-out;
            filter: saturate(80%) brightness(80%) contrast(105%);
            &:hover {
              filter: saturate(100%) brightness(110%) contrast(100%);
            }
          }
          .abbr {
            position: absolute;
            border: 2px solid $color_white;
            height: 92px;
            width: 92px;
            box-shadow: 0 2px 16px rgba(0, 0, 0, .2), inset 0 2px 16px rgba(0, 0, 0, .2);
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            h3 {
              transform: translateX(-50%) translateY(-50%);
              left: 50%;
              top: 50%;
              position: absolute;
              display: block;
              margin: auto;
              color: $color_white;
              font-weight: 900;
              text-transform: uppercase;
            }
          }
          img {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .caption {
            text-align: center;
            color: $color_white;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            transition: all .15s;
            position: absolute;
            bottom: 35px;
            width: 100%;
          }
          &:hover {
            text-decoration: none;
            .abbr {
              border: 2px solid $color_green;
              h3 {
                color: $color_green;
              }
            }
            .caption {
              color: $color_green;
            }
          }
          @media (max-width: 956px) {
            width: 33.33333%;
            -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
          }
          @media (max-width: 626px) {
            width: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
          }
        }
      }
    }
    @media (max-width: 956px) {
      width: 100%;
      display: block;
      .table-cell {
        width: 100%;
        display: block;
      }
    }
  }
}

.section-fanbases {
  background-color: #070D22;
  .bases {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 56px;
    .item {
      margin: 7.5px;
      box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
      padding: 0;
      height: 100%;
      width: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: space-around;
      position: relative;
      .cover {
        transition: all .2s ease-out;
        filter: saturate(80%) brightness(80%) contrast(105%);
        &:hover {
          filter: saturate(100%) brightness(110%) contrast(100%);
        }
      }
      .abbr {
        position: absolute;
        border: 2px solid $color_white;
        height: 92px;
        width: 92px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, .2), inset 0 2px 16px rgba(0, 0, 0, .2);
        left: 50%;
        top: 31%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        h3 {
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
          top: 50%;
          position: absolute;
          display: block;
          margin: auto;
          color: $color_white;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
      img {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .caption {
        text-align: left;
        color: $color_white;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
        font-size: 22px;
        margin: 0;
        transition: all .15s;;
        width: 100%;
        background: #0B1432;
        padding: 20px;
        min-height: 120px;
        display: block;
      }
      &:hover {
        text-decoration: none;
        .abbr {
          border: 2px solid $color_green;
          h3 {
            color: $color_green;
          }
        }
        .caption {
          color: $color_green;
        }
      }
      @media (max-width: 956px) {
        width: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
      }
      @media (max-width: 626px) {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
      }
      .join{
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: $color_white;
        padding: 10px 24px;
        background-color: #0E1B43;
        &:hover {
          background-color: $color_green;
        }
      }
    }
  }
}