.fan {
  display: block;
  width: 100%;
  .fan-head {
    font-size: 14px;
    color: $color_light;
    display: block;
    position: relative;
    padding-left: 47px;
    width: 100%;
    .fan-image {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 0;
      left: 0;
      color: $color_dark;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 1s cubic-bezier(0, .42, 0, 1);
      }
    }
    .fan-meta {
      display: block;
      margin-bottom: 20px;
      line-height: 14px;
      font-size: 14px;
      font-weight: 700;
      .fan-user {
        display: inline;
        color: $color_light_blue;
        font-weight: 700;
        &:hover {
          color: $color_green;
        }
      }
      .fan-base {
        display: inline-block;
        color: $color_light_blue;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 5px;
        &:hover {
          color: $color_green;
        }
      }
    }
  }
  .fan-time {
    display: flex;
    span {
      color: $color_light;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      &:first-child:after {
        margin-left: 10px;
        margin-right: 10px;
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: $color_light;
      }
    }
  }
}

._1Sih2 {
  position: relative
}

@media screen and (min-width: 846px) {
  ._1Sih2 {
    border-bottom-width: 2px
  }
}

@media screen and (max-width: 846px) {
  ._1Sih2 {
    padding-top: 50px
  }
}

@media screen and (max-width: 846px) {
  ._2sDKM {
    padding-top: 0
  }
}

._5E6tF {
  background: transparent;
  height: 241px;
  width: 100%;
  position: relative
}

@media screen and (min-width: 508px) {
  ._5E6tF {
    height: 375px
  }
}

@media screen and (min-width: 846px) {
  ._5E6tF {
    height: 405px;
    width: 50%;
    float: left
  }
}

.VGksr:before {
  border: 8px solid #fff;
  content: "";
  height: 110px;
  width: 110px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .2), inset 0 2px 16px rgba(0, 0, 0, .2);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1
}

.VGksr:after, .VGksr:before {
  display: block;
  position: absolute;
  top: 50%
}

.VGksr:after {
  color: #fff;
  content: attr(data-initials);
  font-family: DriveTribe Condensed, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  width: 100%;
  text-shadow: 0 2px 16px rgba(0, 0, 0, .2);
  transform: translateY(-50%)
}

@media screen and (min-width: 508px) {
  .VGksr:before {
    border: 9px solid #fff;
    content: "";
    height: 204px;
    width: 204px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .2), inset 0 2px 16px rgba(0, 0, 0, .2);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1
  }

  .VGksr:after, .VGksr:before {
    display: block;
    position: absolute;
    top: 50%
  }

  .VGksr:after {
    color: #fff;
    content: attr(data-initials);
    font-family: DriveTribe Condensed, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    width: 100%;
    text-shadow: 0 2px 16px rgba(0, 0, 0, .2);
    transform: translateY(-50%)
  }
}

._2TjVm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden
}

@media screen and (min-width: 846px) {
  ._2TjVm {
    height: 405px;
    padding-left: 66px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(103, 143, 185, 0.2)
  }
}

@media screen and (max-width: 1158px) {
  ._2TjVm {
    padding: 0 28px
  }
}

@media screen and (max-width: 846px) {
  ._2TjVm {
    margin: 28px 14px;
    padding: 0
  }
}

@media screen and (max-width: 508px) {
  ._2TjVm {
    margin-bottom: 0
  }
}

._3clb_ {
  word-break: break-word;
  font-family: DriveTribe, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px
}

@media screen and (min-width: 846px) {
  ._3clb_ {
    font-size: 55px;
    line-height: 55px;
    line-height: 44px
  }
}

._3xrOh {
  word-break: break-word;
  font-size: 14px;
  line-height: 18px;
  margin-top: 18px
}

@media screen and (min-width: 846px) {
  ._3xrOh {
    font-size: 18px;
    line-height: 22px
  }
}

._1UFzB {
  width: 100%;
  background: $color_light_blue;

}

@media screen and (min-width: 508px) {
  ._1UFzB {
    width: 50%
  }
}

._1sHtR{
  background-color: #0E1B43;
}

._1sHtR, .e8W2c {
  position: relative
}

._1dz7N {
  background-color: #000
}

._1VJcf {
  right: 14px;
  top: 28px;
  position: absolute;
  width: 40px
}

@media screen and (max-width: 846px) {
  ._1VJcf {
    top: 400px
  }
}

@media screen and (max-width: 508px) {
  ._1VJcf {
    top: 260px;
    transform-origin: top right;
    width: 20px
  }
}

._2_N5i {
  top: 72px
}

@media screen and (max-width: 846px) {
  ._2_N5i {
    top: 450px
  }
}

@media screen and (max-width: 508px) {
  ._2_N5i {
    top: 325px
  }
}

._1XYR3 {
  transform: translate(-34px, -32px);
  width: 12px;
  height: 12px
}

@media screen and (max-width: 846px) {
  ._1XYR3 {
    transform: translate(-29px, -26px)
  }
}

._3K5ij {
  display: flex;
  flex-wrap: wrap
}

@media screen and (min-width: 846px) {
  ._3K5ij {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0
  }
}
._1h78h {
  font-family: DriveTribe,Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  padding: 22px 40px;
  background-color: $color_blue;
  color: #fff;
  cursor: pointer;
  &.e8W2c{
    background-color: $color_light_blue;
  }
  &:hover,
  &:focus{
    background-color: $color_green;
  }
  svg {
    float: right;
    transform: scale(1.5) translateY(1px);
  }
}

._23p6h {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  img{
    width: 100%;
  }
}

._1sBpq {
  font-family: DriveTribe, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  padding: 0 14px;
}

._1L4n0 {
  font-size: 18px;
  line-height: 22px;
  padding: 0 14px;
  max-width: 1028px
}

._2-lPc {
  color: rgba(103, 143, 185, 0.4);
  font-family: DriveTribe, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 28px
}

._3bJ_b {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto
}

@media screen and (min-width: 846px) {
  ._3bJ_b {
    padding:18px 22px
  }
}

._10Rvu {
  display: flex;
  padding: 14px 18px;
  border-top: 1px solid rgba(103, 143, 185, 0.2);
  flex: 0 0 100%;
  color: $color_dark;
}

@media screen and (min-width: 846px) {
  ._10Rvu {
    border:0;
    flex: 0 0 33.3333%;
    padding: 0
  }
}

.y-Eog ._6Jl0_ {
  padding-bottom: 9px
}

._6Jl0_ {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media screen and (min-width: 508px) {
  ._6Jl0_ {
    font-size:14px;
    line-height: 14px
  }
}

._2gjKj {
  display: flex;
  position: relative;
  height: 35px
}

@media screen and (min-width: 508px) {
  ._2gjKj {
    height:64px
  }
}

._1e73a {
  width: 35px;
  height: 35px
}

@media screen and (min-width: 508px) {
  ._1e73a {
    width:64px;
    height: 64px
  }
}

._2YnA3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 14px
}

._2YnA3>span {
  font-family: DriveTribe,Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px
}

@media screen and (min-width: 508px) {
  ._2YnA3>span {
    font-size:22px;
    line-height: 22px
  }
}

@media screen and (min-width: 1236px) {
  ._2YnA3>span {
    font-size:28px;
    line-height: 28px
  }
}

._14NuX {
  font-family: DriveTribe,Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px
}

@media screen and (min-width: 508px) {
  ._14NuX {
    font-size:22px;
    line-height: 28px
  }
}

@media screen and (min-width: 1236px) {
  ._14NuX {
    font-size:28px;
    line-height: 35px
  }
}

._1qM6O,._3cgGL {
  display: flex;
  border-top: 1px solid rgba(103, 143, 185, 0.2);
  border-left: 1px solid rgba(103, 143, 185, 0.2);
  padding: 14px 18px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 25%
}

@media screen and (max-width: 846px) {
  ._1qM6O,._3cgGL {
    flex:0 0 33.333%
  }
}

@media screen and (min-width: 846px) {
  ._1qM6O,._3cgGL {
    border-top:none
  }
}

._1qM6O>svg,._3cgGL>svg {
  height: 18px
}

@media screen and (min-width: 508px) {
  ._1qM6O>svg,._3cgGL>svg {
    height:24px
  }
}

@media screen and (min-width: 846px) {
  ._1qM6O,._3cgGL {
    flex:1 1 10%;
    border-top: 0;
    border-bottom: 0;
    padding: 0 14px
  }
}

@media screen and (max-width: 508px) {
  ._1qM6O,._3cgGL {
    height:90px
  }
}

