
._3o2ca {
  display: flex;
  justify-content: flex-start
}

._2Q0fU {
  display: flex;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  transition: all .1s linear
}

._2Q0fU:last-child {
  margin-right: 0
}

._2Q0fU svg {
  margin: 0 auto
}

.p1Di1 {
  background-color: #3a5897
}

.p1Di1:hover {
  background-color: #2d559f
}

._3cqrr {
  background-color: #1da1f2
}

._3cqrr:hover {
  background-color: #007ac7
}

._23g2_ {
  margin-right: 0;
  border: 2px solid #666
}

._23g2_ svg {
  display: block
}

._23g2_:hover {
  background-color: #666
}

._23g2_:hover svg path {
  fill: #fff
}

._2YLHu {
  text-transform: lowercase !important
}