.nav-tabs {
  >li {
    background-color: transparent;
    &.active{
      a{
        background-color: transparent;
        border-bottom-color: transparent;
        border: none;
        font-size: 20px;
        color: $color_green;
        &:focus,
        &:hover{
          color: $color_green;
          cursor: default;
          border: none;
          background-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
    a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 20px;
      background-color: transparent;
      border-bottom-color: transparent;
      &:hover,
      &:focus{
        color: $color_green;
        text-decoration: none;
        background-color: transparent;
        border: none
      }
    }
  }
  border: none;
  margin-top: 28px;
  margin-bottom: 28px;
}