.tiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .tile {
    background: $color_white;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.2);
    padding: 28px;
    margin-bottom: 28px;
    a{
      color: $color_dark;
    }
    .story {
      .image {
        margin: 28px 0px;
        img {
          width: 100%;
        }
      }
      .caption {
        h3 {
          font-family: 'DriveTribe';
          font-weight: 700;
          margin-bottom: 20px;
          font-size: 28px;
          line-height: 22px;
          text-transform: uppercase;
          a {
            color: $color_dark;
          }
        }
      }
      .summary {
        font-size: 110%;
      }
    }
  }
}

.action{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 28px;
  margin: 28px -28px;
  .table{
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    .table-cell{
      display: table-cell;
      font-weight: 700;
      text-transform: uppercase;
      &.cell-left{
        width: 50%;
        text-align: left;
        .svg{
          height: 28px;
          width: 28px;
          position: absolute;
          left: 0;
          top: 0;
          .svg-green{
            display: none;
          }
          &:hover,
          &:focus{
            .svg-blue{
              display: none;
            }
            .svg-green{
              display: block;
            }
          }
          .active{
            .svg-blue{
              display: none;
            }
            .svg-green{
              display: block;
            }
          }
        }
        .count{
          height: 28px;
          line-height: 28px;
          padding-left: 35px;
        }
      }
      &.cell-right{
        width: 50%;
        text-align: right;
        .responses{
          height: 28px;
          line-height: 28px;
        }
      }
    }
  }
}
