// The colors duke! The colors!
$color_dark:  rgba(0,0,0,.86);
$color_mid:   #445566;
$color_light: rgba(0,0,0,.6);

$color_teal: #005566;
$color_white: #FFFFFF;
$color_green: #7AD61F;
$color_blue: #062136;
$color_light_blue: #1CA6D9;

// Fontsicles
$font_sans:  'DriveTribe', 'Roboto Condensed', 'Averta', 'Roboto', sans-serif;
$font_serif: 'DriveTribe', 'Roboto', 'Averta', 'Roboto', serif;

$gap: 28px;