// The colors duke! The colors!
$color_dark:  #000732;
$color_mid:   #445566;
$color_light: rgba(0,0,0,.6);

$color_teal: #005566;
$color_white: #FFFFFF;
$color_green: #64c431;
$color_blue: #000732;
$color_light_blue: #00AFFF;

// Fontsicles
$font_sans:  'DriveTribe', 'Roboto Condensed', 'Averta', 'Roboto', sans-serif;
$font_serif: 'DriveTribe', 'Roboto', 'Averta', 'Roboto', serif;

$gap: 28px;