// The colors duke! The colors!
$color_dark: rgba(0, 8, 39, .96);
$color_mid: #445566;
$color_light: rgba(0, 8, 39, .96);
$color_teal: #005566;
$color_white: #FFFFFF;
$color_green: rgba(69, 193, 78, 1);
$color_light_green: rgba(69, 193, 78, 0.85);
$color_blue: #041f30;
$color_light_blue: rgba(0, 50, 75, 0.65);
$color_gray: rgb(248, 249, 250);
$color_red: rgba(255, 21, 65, 0.85);
$font_sans: 'DriveTribe', 'Averta', sans-serif;
$font_serif: 'DriveTribe Condensed', 'DriveTribe', 'Roboto', 'Averta', serif;
$gap: 28px;